.git
.github
.local
.DS_Store

node_modules
apps/*/node_modules
packages/*/node_modules

apps/*/dist
packages/*/dist
apps/web/.next*
apps/admin/.next*
coverage
storybook-static

.env
apps/*/.env
apps/*/.env.local

apps/data/static
apps/data/storage
data/static
data/storage
tmp

docs
newdocs
RELEASES
参考图片
参考项目
